1)  
Run the following code:  
list_example = [1, 2, [3, 4, 5], 4, [4, 3, 5], 1]  
new_list = []
  
a) Select the last element. You cannot assume that the list has a certain number of elements.  
b) Flatten the list to a list without any elements that are lists, i.e., the output should be: [1, 2, 3, 4, 5, 4, 4, 3, 5, 1].  
c) Find the maximum value in list_example.  
d) Find the range (max-min) of the value in list_example.  
e) Create a for loop to flatten list_example and save the flattened list in new_list. The for loop should be able to flatten any list with any number of elements and any number of elements that are lists (but not lists within lists within lists).

In [218]:
list_example = [1, 2, [3, 4, 5], 4, [4, 3, 5], 1] 
print('a', list_example[-1:])
print('b', list_example[:2]+list_example[2]+[list_example[3]]+list_example[4]+[list_example[5]])
print('c', max(list_example[:2]+list_example[2]+[list_example[3]]+list_example[4]+[list_example[5]]))
flat_list = list_example[:2]+list_example[2]+[list_example[3]]+list_example[4]+[list_example[5]]
print('d', max(flat_list)-min(flat_list))

a [1]
b [1, 2, 3, 4, 5, 4, 4, 3, 5, 1]
c 5
d 4

In [96]:
for element in list_example:
    if type(element) == list:
        new_list = new_list + element
    else:
        new_list = new_list + [element]
print(new_list)

[1, 2, 3, 4, 5, 4, 4, 3, 5]

2)   
Run the following code:  
list_example_1 = [1, 2, 3, 4, 5]  
list_example_2 = [4, 2, 3, 1, 3]  
  
a) Find the largest value in list_example_1 and list_example_2. The code should return 5.  
b) Find the large value in the first two elements of list_example_1 (i.e., [1, 2]) and the last two elements of list_example_2 (i.e., [1, 3]). The code should return 3.  
c) Compare the largest values in the two lists and return True if list_example_1 has the largest value.

In [229]:
list_example_1 = [1, 2, 3, 4, 5]  
list_example_2 = [4, 2, 3, 1, 3]  

print('a', max(list_example_1+list_example_2))
print('b', max(list_example_1[:2]+list_example_2[-2:]))
print('c', max(list_example_1)>max(list_example_2))

a 5
b 3
c True

3)  
Run the following code:  
City_State_ZIP = 'San Diego, CA 92303'  
  
Use string slicing and the s.index() method to create three new variables, city, state, and zip and populate these variables with respective values.  The code should work for other cities, states, and zip codes. You can assume that the city and the state are always separate by a comma and a space, i.e., ', ', and that this is the only comma in the string.  You can also assume that the state and the zip code is always separated by a space (and that this is the first space after the comma and the space that separated the city and the state). You cannot assume that state and the zip code contain two and five characters, respectively.

In [230]:
City_State_ZIP = 'San Diego, CA 92303'  
city = City_State_ZIP[:City_State_ZIP.index(",")]
print(city)

San Diego

In [232]:
state = City_State_ZIP[City_State_ZIP.index(",")+2:City_State_ZIP.index(" ", City_State_ZIP.index(",")+2)]
print(state)

CA

In [234]:
zip = City_State_ZIP[City_State_ZIP.index(" ", City_State_ZIP.index(",")+2)+1:]
print(zip)

92303

4)  
Run the following code:   
temperatures = [86, 78, 45, 23, 99, 103, -1, 83, 33]  
temp_feel=[]  
  
a) create a for loop that assigns the word hot, warm, moderate, cool, or cold to the temp_feel list depending on the temparature (> 90 for hot, <=90 and >80 for warm, <=80 and >60 for moderate, <=60 and >40 for cool, and <=40 for cold) in the temperatures list.  
b) change the for loop in 4.a to a list comprehension.  
c) add the temperature before each word, e.g., '86: warm', '78: moderate, etc.

In [133]:
temperatures = [86, 78, 45, 23, 99, 103, -1, 83, 33]
temp_feel=[]
for temp in temperatures:
    if temp > 90:
        temp_feel+=['hot']
    elif temp > 80:
        temp_feel+=['warm']
    elif temp > 60:
        temp_feel+=['moderate']
    elif temp > 40:
        temp_feel+=['cool']
    else:
        temp_feel+=['cold']
print(temp_feel)

['warm', 'moderate', 'cool', 'cold', 'hot', 'hot', 'cold', 'warm', 'cold']

In [138]:
temp_feel=[]
temp_feel = ['hot' if temp > 90 else 'warm' if temp > 80 else 'moderate' if temp > 60 else 'cool' if temp > 40 else 'cold' for temp in temperatures]
print(temp_feel)

['warm', 'moderate', 'cool', 'cold', 'hot', 'hot', 'cold', 'warm', 'cold']

In [184]:
temp_feel=[]
temp_feel = [str(temp) + ': hot' if temp > 90 else str(temp) + ': warm' if temp > 80 else str(temp) + ': moderate' if temp > 60 else str(temp) + ': cool' if temp > 40 else str(temp) + ': cold' for temp in temperatures]
print(temp_feel)

['86: warm', '78: moderate', '45: cool', '23: cold', '99: hot', '103: hot', '-1: cold', '83: warm', '33: cold']

5)  
Run the following code:  
quarterly_two_d_list = [['Year', 'Q1', 'Q2', 'Q3', 'Q4'], [2019, 2343, 2304, 2340, 4460], [2018, 2234, 2404, 2735, 2904]]  
annual_two_d_list = [['Year', 'Sum']]  
  
a)  
Note that quarterly_two_d_list and annual_two_d_list are lists of lists. The first list, quarterly_two_d_list will be used as input, and the second list, annual_two_d_list, will be used to store the results. For each list, I will refer to the elements of the outer list as the outer elements (these elements are the lists inside the outer list, e.g., ['Year', 'Q1', 'Q2', 'Q3', 'Q4']) and the elements of the lists inside the list as the inner elements (these are the individual values, e.g., 'Year', 2019, 2343, etc.). Create a for loop that iterates through the outer elements of quarterly_two_d_list. The for loop should populate the annual_two_d_list with lists that contain the year and the annual sum for that year, i.e., the output should look like this:  
[['Year', 'Sum'], [2019, 11447], [2018, 10277]]  
  
To make this work you need to skip the first outer element in quarterly_two_d_list. Do this by examining the data type of one of the inner elements of each outer element being processed, e.g., type(2019) returns int. For each outer element with an inner element with data type of int, sum all the inner elements except for the first inner element (which is the year) and then add the first inner element and the sum of the other inner elements to annual_two_d_list.

In [238]:
quarterly_two_d_list = [['Year', 'Q1', 'Q2', 'Q3', 'Q4'],[2019, 2343, 2304, 2340, 4460],[2018, 2234, 2404, 2735, 2904]]
annual_two_d_list = [['Year', 'Sum']]
for outer_element in quarterly_two_d_list:
    if type(outer_element[0]) == int:
        annual_two_d_list = annual_two_d_list + [[outer_element[0], sum(outer_element[1:])]]
print(annual_two_d_list)

[['Year', 'Sum'], [2019, 11447], [2018, 10277]]

5.b)    
Run the following code (note that the list is now an empty list, we earlier create the list with the strings 'Year' and 'Sum' added):  
annual_two_d_list = []
  
Then modify 5.a to instead output:  
[['2019_Sum', 11447], ['2018_Sum', 10277]]

In [239]:
annual_two_d_list = []
for outer_element in quarterly_two_d_list:
    if type(outer_element[0]) == int:
        annual_two_d_list = annual_two_d_list + [[str(outer_element[0])+'_Sum', sum(outer_element[1:])]]
print(annual_two_d_list)

[['2019_Sum', 11447], ['2018_Sum', 10277]]

In [172]:
annual_two_d_list = []
for outer_element in quarterly_two_d_list:
    if type(outer_element[0]) == int:
        annual_two_d_list = annual_two_d_list + [[str(outer_element[0])+'_Average', sum(outer_element[1:])/len(outer_element[1:])]]
print(annual_two_d_list)

[['2019_Average', 408262581.75], ['2018_Average', 256959759.75]]

In [173]:
annual_two_d_list = [['Year', 'Sum', 'Average']]
for outer_element in quarterly_two_d_list:
    if type(outer_element[0]) == int:
        annual_two_d_list = annual_two_d_list + [[outer_element[0], sum(outer_element[1:]), sum(outer_element[1:])/len(outer_element[1:])]]
print(annual_two_d_list)

[['Year', 'Sum', 'Average'], [2019, 1633050327, 408262581.75], [2018, 1027839039, 256959759.75]]

In [174]:
annual_dictionary = {}
for outer_element in quarterly_two_d_list:
    if type(outer_element[0]) == int:
        annual_dictionary[outer_element[0]] = sum(outer_element[1:])
print(annual_dictionary)

{2019: 1633050327, 2018: 1027839039}

In [177]:
annual_dictionary = {}
for outer_element in quarterly_two_d_list:
    if type(outer_element[0]) == int:
        annual_dictionary[outer_element[0]] = [sum(outer_element[1:]), sum(outer_element[1:])/len(outer_element[1:])]
print(annual_dictionary)

{2019: [1633050327, 408262581.75], 2018: [1027839039, 256959759.75]}

In [209]:
list_1 = [86, 78, 45, 64, 99, 103, 1, 83, 33]
list_2 = [45, 43, 32, 23, 90, 10, -10, 803, 23]
list_3 = []
list_4 = []
list_5 = [45, 43, 32, 23, 90, 10, -10, 803]

for i, v in enumerate(list_1):
    list_3.append(v + list_2[i])
        
for i in range(len(list_1)):
    list_4.append(list_1[i]+list_2[i])
      
print(list_3)
print(list_4)

print([v + list_2[i] for i, v in enumerate(list_1)])
print([list_1[i]+list_2[i] for i in range(len(list_1))])

print([list_1[i]+list_2[i] for i in range(min(len(list_1),len(list_5)))])

#        for v in range (1000):
 #     print(v)
  #  
   # for k, v in dictionary_example.items():
    # print('key:', k, 'and value: ', v)

[131, 121, 77, 87, 189, 113, -9, 886, 56]
[131, 121, 77, 87, 189, 113, -9, 886, 56]
[131, 121, 77, 87, 189, 113, -9, 886, 56]
[131, 121, 77, 87, 189, 113, -9, 886, 56]
[131, 121, 77, 87, 189, 113, -9, 886]